.logo{
    position: absolute;
    scale: 35%;
    bottom: -120px;
    right: 950px;
}

.cajanombre{
    position: relative;
    background-color: rgb(2, 0, 112);
    width: 1340px;
    height: 200px;
    left: 0px;
    bottom: 30px;
    border-radius: 30px;
}
.nombre{
    color: white;
    position: relative;
    left: 20px;
    bottom: -80px;
    text-align: center;
    scale: 230%;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    font-size: 50px;
    position: absolute;
    left: 240px;
    bottom: 120px;
}

.linea1{
    background-color: black;
    height: 1px;
    width: 50%;
    position: relative;
    right: 280px;
    bottom: -150px;
}

.imagen{
    width: 30%;
    position: relative;
    left: 850px;
    bottom: -10px;
    border-radius: 50%;
}

.caja{
    position: relative;
    top: 420px;
}

.nc1{
    color: rgb(94, 94, 94);
    font-family: Arial, sans-serif;
    font-size: 17px;
    position: relative;
    bottom: 675px;
    left: 55px;
}

.dc1{
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    text-align: right;
    font-size: 17px;
    position: relative;
    bottom: 715px;
    right: 615px;
}
/*------------------------------------*/
.nc2{
    color: rgb(94, 94, 94);
    font-family: Arial, sans-serif;
    font-size: 17px;
    position: relative;
    bottom: 710px;
    left: 55px;
}

.dc2{
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    text-align: right;
    font-size: 17px;
    position: relative;
    bottom: 748px;
    right: 615px;
}
/*------------------------------------*/
.nc3{
    color: rgb(94, 94, 94);
    font-family: Arial, sans-serif;
    font-size: 17px;
    position: relative;
    bottom: 743px;
    left: 55px;
}

.dc3{
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    text-align: right;
    font-size: 17px;
    position: relative;
    bottom: 780px;
    right: 615px;
}

/*------------------------------------*/
.nc4{
    color: rgb(94, 94, 94);
    font-family: Arial, sans-serif;
    font-size: 17px;
    position: relative;
    bottom: 773px;
    left: 55px;
}

.dc4{
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    text-align: right;
    font-size: 17px;
    position: relative;
    bottom: 810px;
    right: 615px;
}

/*------------------------------------*/
.nc5{
    color: rgb(94, 94, 94);
    font-family: Arial, sans-serif;
    font-size: 17px;
    position: relative;
    bottom: 803px;
    left: 55px;
}

.dc5{
    color: rgb(0, 0, 0);
    font-family: Arial, sans-serif;
    text-align: right;
    font-size: 17px;
    position: relative;
    bottom: 840px;
    right: 615px;
}
/*------------------------------------*/
.medida{
    width: 70%;
    height: 1px;
    background-color: blue;
    position: relative;
    bottom: 990px;
    right: 150px;
}
/*------------------------------------*/

.cerrarsesion {
    border: none;
    outline: none;
    background-color: #020070;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #3b399b;
    position: relative;
    bottom: 750px;
    left: 330px;
  }
  
  .cerrarsesion:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
    background-color: #516bff;
    color: black;
  }


/*-------------------*/
.caja{
    position: relative;
    bottom: -210px;
}